body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ECEDD1;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #F4B8D7;
    padding: 7px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #fa8bc2;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.logo img{
    width: 8.5%;
    height: auto;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 100px;
    border-radius: 50%;
}

nav{
    display: flex;
    gap: 25px; 
    align-items: center;

}
nav a {
    margin: 0 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    text-shadow: 0.7px 0.7px 2px rgba(255, 105, 180, 0.8);
    
    
}

nav a:hover {
    color: #db598d;
}

.icone img {
    width: 45px;
    height: 45px;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 80px;
    margin-left: 50px;
}


.icone img:hover {
    transform: scale(1.2);
}

.bloco-destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px 80px;
    margin-right: -34.5px;
}

.destaque-imagem img {
    width: 420px;
    height: auto;
    border-radius: 15px;
}

.destaque-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 500px;
}

.destaque-subtitulo {
    color: #c07a8a;
    letter-spacing: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: 110px;
}

.destaque-titulo {
    font-size: 32px;
    color: #4b3a3a;
    margin-bottom: 30px;
}

.cards-destaque {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px; /* espaçamento entre os cards */
    width: 100%;
    margin-top: 30px;
    margin-left: -350px;
}
.capa.livro {
    display: flex;
    align-items: flex-start; /* melhora a organização */
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 20px;
    gap: 20px;
    width: 100%; /* aumenta a largura */
    height: auto; /* deixa a altura automática */
}

.capa.livro img {
    width: 110px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
      margin: 0; 
}
.capa.livro div {
    margin-left: 15px; 
}

.capa.livro h3 {
    font-size: 17px;
    color: #4b3a3a;
    margin: 0;
    
}

.capa.livro p {
    font-size: 13px;
    color: #777;
    margin: 3px 0 0;
}
footer {
    width: 100%;
    margin: 0;
    padding: 30px 20px;
    background: #F4B8D7;
    color: rgb(0, 0, 0);
    text-align: center;
    border-top: 5px solid #ff69b4;
    
}

footer p {
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 18px;
    flex-wrap: wrap;
}

footer .social a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.3s;
}

footer .social a:hover {
    color: #7a2f4d;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-bottom: -5px;
    margin-left: -5px;
}