body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(to right, #cab3bc, #bd7a9b);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 100px;
        
    }

    h1 {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff0f5;
    color: #bd7a9b;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(255, 182, 193, 0.4);
    z-index: 1000;
    text-shadow: 1px 1px 2px #000000;
    line-height: 1.0;
    margin-top: 0px;
    margin-bottom: 4px;
}

h2{
    font-size: 20px;
    text-align: center;
     margin: 6px 0;
    line-height: 1.0px;
        line-height: 1.0;
    margin-top: 4px;
    margin-bottom: 4px;
}
h3{
    font-size: 15px;
        line-height: 1.0;
    margin-top: 4px;
    margin-bottom: 4px;
}

.senha{
    color: #c04884;
    text-align: center;
      line-height: 1.0;
    margin-top: 4px;
    margin-bottom: 4px;
}
    
    form {
        background-color: #fff0f5;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(255, 192, 203, 0.5);
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 320px;
        border: 2px solid #bd7a9b;
        transform: translateY(200%); 
    }

    input, select, button {
        padding: 12px;
        font-size: 16px;
        border: 1px solid #bd7a9b;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #fff;
        color: #d63384;
        
    }

    select {
        background-color: #fff0f5;
    }

    button {
        background-color: #ff69b4;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: bold;
        width: 100%;
    }
   footer{
    margin: top 2px;
    width: 100%;
    background-color: #fff0f5;
    color:rgb(0, 0, 0);
    text-align: center;
    margin-top: 33.8%;
}